html { overflow-y: scroll;}
body {
	font-family: "Consolas", monospace;
	font-size: 15pt;
	padding-left: 6%;
	padding-right: 6%;
    color: #ffffff;
	opacity: 0.8;
    background-color: #220849;
	margin:0
}
h1 {
	font-size: 40pt;
}
div.pad-s {
	padding-left: 6%;
	padding-right: 6%;
}
div.pad-l {
	padding-left: 25%;
	padding-right: 6%;
}
div.center {
    margin: 0 auto;
    width: 50%;
}
.banner {
    font-size: 26pt;
    margin: auto;
	max-width: -moz-fit-content;
	max-width: fit-content;
}
table {
	border-collapse: collapse;
	width: auto;
}
td, th {
	border: 1px solid #e6e6e6;
	text-align: left;
	padding: 8px;
}
ul.nav {
	border: 1px solid #ffffff00;
	text-align: right;
	list-style: none;
	font-size: larger;
	margin-right: 18%;
	text-overflow: "|";
    white-space: nowrap;
}

p.smol {
	font-size: 70%;
	margin-bottom: 5px;
	margin-left: 5%;
	margin-top: 5%;
}
h1.no-top {margin-top: 0%;}

canvas {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  }

/*
Nav Buttons
*/
div.navs {
    margin:auto;
}
div.navbutton { 
    display: inline-block;
    margin: 0 auto;
	font-size:larger
}

div.line {
    text-overflow: "";
    overflow: clip;
    white-space: nowrap;
    margin: auto;
}

a { color: #00c0da }
ul { margin: 5px; }


/*
top golf
*/
hr {
	color:#2c2c2c;
}
img {
	width: 100%;
}
#side-nav{
	width: 25%;
	background:#ffffff00;
	position: fixed;/* for good browsers */
	left :0;
	display: inline-block;
}
div.nav {
	display: inline-block;
	text-align: end;
	margin-left: 25%;
}
p.nav-line {
	margin: 0%;
	width: 8px;
}
div.nav-line {display: inline-block;}

div.b-hide {display: none;}
div.s-hide {display: none;}
div.xs-hide {display: none;}

@media only screen and (max-device-width: 1050px) {
	#side-nav { font-size: medium;}
	div.b-hide {display: block;}
}

@media only screen and (max-device-width: 700px) {
	body { font-size: 12pt; }
	div#title { font-size: 50%; }
	table { width: 100% }
	ol { margin-left: 20px; }
	div.navbutton { font-size: 120%; }
	div.float {
		float: none;
		margin-right: 0px;
	}
	table.stats {
		width: 100%;
		margin-left: 0px;
	}
	#side-nav { 
		font-size: 10pt;
	}
	div.s-hide {display: block;}
}


iframe.desktop {
	display: block;
}
iframe.mobile {
	display: none;
}
@media only screen and (max-device-width: 500px) {
	iframe.desktop {
		display: none;
	}
	iframe.mobile {
		display: block;
	}
}

@media only screen and (max-device-width: 475px) {
	div.xs-hide {display: block;}
}